<nav class="navbar navbar-expand-sm navbar-dark bg-danger mb-3">
  <div class="container">
    <a class="navbar-brand" href="/"><b style="color: white;">Assignment</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
          {{#if user}}
          <li class="nav-item">
          <a class="nav-link btn " style="background-color:#494949;box-shadow: 2px 2px 2px; color:black;" href="/users/home"><b style="color:white;">Hey {{user.name}}</b></a>
        </li>
        {{else}}
        <li class="nav-item">
          <a class="nav-link btn " style="background-color:#494949;box-shadow: 2px 2px 2px; color:black;" href="/"><b style="color:white;">Login</b></a>
        </li>
        {{/if}}
      </ul>
      <ul class="navbar-nav ml-auto">
        {{#if user}}
         
          <li class="nav-item">
            <a href="/users/logout" class="nav-link btn" style="background-color:#494949;box-shadow: 2px 2px 2px; color:black;"><b style="color: white;">Logout</b></a>
          </li>
        {{else}}
          
          <li class="nav-item">
            <a href="/users/register" class="nav-link btn "  style="background-color:#494949;box-shadow: 2px 2px 2px; color:black;"><b style="color: white;">Signup</b></a>
          </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>