<div class="jumbotron text-center">
     <img class="logo" src="/pics/diary.png">
  <h1 class="display-3">{{title}}</h1>
  <p class="lead">Add your thoughts here! </p>
  <p class="lead">We will keep that safe </p>

  <a href="/ideas/add" class="btn btn-dark btn-lg">home Content</a>
</div>